## Data analysis with SQL Project

## Data Analysis Question

#### The context

Over the past few years, ride-sharing apps have been on the rise across any cities in the world. While this has happened, Uber and Lyft's ride prices are not constant like public transport. They are greatly affected by the demand and supply of rides at a given time.

In this project we will come up with a descriptive analysis report to help a Ride-Sharing Startup understand the various patterns on how pricing works for the existing ride-sharing companies.

We will analyze the prices of these ride-sharing apps and try to figure out what drives the demand.

We will try to find out if the following factors drive the demand for rides:
1. Time of the day
* Do times around 9 am and 5 pm have the highest price surges as a result of people commuting to work/home?
* Do Mondays have more demand than Sunday at 9 am? 
2. Weather
* Does rain/snow cause more people to take rides?
Do people avoid cabs on a sunny day?

#### Solution steps

1. Connect to the database
2. Load libraries and the dataset
3. Create database tables and preview data
4. Perform data analysis
5. Summarise our findings

## Connect to the database

Load the SQL extension

In [2]:
%load_ext sql

Connect to the in-memory SQLite database within Google Colab

In [3]:
%sql sqlite://

'Connected: @None'

Load the SQL extension

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Load libraries

Load libraries

In [5]:
import pandas as pd

## Load datasets and create database tables

Load weather data and preview

In [8]:
weather = pd.read_csv('/content/weather.csv')
weather.head()

,temp,location,clouds,pressure,rain,time_stamp,humidity,wind
0,42.42,Back Bay,1.0,1012.14,0.1228,1545003901,0.77,11.25
1,42.43,Beacon Hill,1.0,1012.15,0.1846,1545003901,0.76,11.32
2,42.50,Boston University,1.0,1012.15,0.1089,1545003901,0.76,11.07
3,42.11,Fenway,1.0,1012.13,0.0969,1545003901,0.77,11.09
4,43.13,Financial District,1.0,1012.14,0.1786,1545003901,0.75,11.49

Load cab rides data and preview

In [9]:
cab_rides = pd.read_csv('/content/cab_rides.csv')
cab_rides.head()

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1.544950e+12,North Station,Haymarket Square,5.0,1,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1.544950e+12,North Station,Haymarket Square,11.0,1,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1.544950e+12,North Station,Haymarket Square,7.0,1,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1.544950e+12,North Station,Haymarket Square,26.0,1,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1.544950e+12,North Station,Haymarket Square,9.0,1,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL

Create database tables using the loaded datasets

In [10]:
%sql DROP TABLE if EXISTS weather;
%sql PERSIST weather

%sql DROP TABLE if EXISTS cab_rides;
%sql PERSIST cab_rides

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted cab_rides'

Preview weather data

In [ ]:
%%sql 
select * from weather limit 10

 * sqlite://
Done.

[(0, 42.42, 'Back Bay', 1.0, 1012.14, 0.1228, 1545003901, 0.77, 11.25),
 (1, 42.43, 'Beacon Hill', 1.0, 1012.15, 0.1846, 1545003901, 0.76, 11.32),
 (2, 42.5, 'Boston University', 1.0, 1012.15, 0.1089, 1545003901, 0.76, 11.07),
 (3, 42.11, 'Fenway', 1.0, 1012.13, 0.0969, 1545003901, 0.77, 11.09),
 (4, 43.13, 'Financial District', 1.0, 1012.14, 0.1786, 1545003901, 0.75, 11.49),
 (5, 42.34, 'Haymarket Square', 1.0, 1012.15, 0.2068, 1545003901, 0.77, 11.49),
 (6, 42.36, 'North End', 1.0, 1012.15, 0.2088, 1545003901, 0.77, 11.46),
 (7, 42.21, 'North Station', 1.0, 1012.16, 0.2069, 1545003901, 0.77, 11.37),
 (8, 42.07, 'Northeastern University', 1.0, 1012.12, 0.102, 1545003901, 0.78, 11.28),
 (9, 43.05, 'South Station', 1.0, 1012.12, 0.1547, 1545003901, 0.75, 11.58)]

Preview cab rides data

In [ ]:
%sql select * from cab_rides limit 5

 * sqlite://
Done.

[(0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared'),
 (1, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 11.0, 1, '4bd23055-6827-41c6-b23b-3c491f24e74d', 'lyft_premier', 'Lux'),
 (2, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 7.0, 1, '981a3613-77af-4620-a42a-0c0866077d1e', 'lyft', 'Lyft'),
 (3, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 26.0, 1, 'c2d88af2-d278-4bfd-a8d0-29ca77cc5512', 'lyft_luxsuv', 'Lux Black XL'),
 (4, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 9.0, 1, 'e0126e1f-8ca9-4f2e-82b3-50505a09db9a', 'lyft_plus', 'Lyft XL')]

## Data analysis

### 1) Does weather drive the prices of rides?

#### What was the weather at both the source and destination when the price was the highest?

Get a glimpse of rides data when price was maximum

In [20]:
%%sql
select max(price) as price, surge_multiplier, datetime(time_stamp/1000, 'unixepoch') date, source, destination, name
from cab_rides;

 * sqlite://
Done.

[(80.0, 2.0, '2018-12-13 22:26:40', 'Boston University', 'North Station', 'Lux Black XL')]

Get weather data at the source

In [18]:
%%sql

select datetime(time_stamp, 'unixepoch') date, temp,	location,	clouds,	pressure,	rain,	humidity,	wind
from weather
where location = (select source from cab_rides where price = (select max(price) from cab_rides)) 
and datetime(time_stamp, 'unixepoch') <= (select datetime(time_stamp/1000, 'unixepoch') date from cab_rides where price = (select max(price) from cab_rides))
order by date desc limit 10

 * sqlite://
Done.

[('2018-12-13 21:45:01', 31.6, 'Boston University', 0.78, 1034.38, None, 0.63, 1.98),
 ('2018-12-13 20:45:02', 32.12, 'Boston University', 0.61, 1034.09, None, 0.61, 1.22),
 ('2018-12-13 19:45:02', 32.7, 'Boston University', 0.52, 1033.74, None, 0.56, 1.7),
 ('2018-12-13 18:45:02', 32.35, 'Boston University', 0.7, 1033.65, None, 0.56, 2.29),
 ('2018-12-13 17:45:02', 31.8, 'Boston University', 0.55, 1033.43, None, 0.54, 2.0),
 ('2018-12-13 16:45:02', 28.46, 'Boston University', 0.24, 1033.35, None, 0.56, 1.98),
 ('2018-12-13 15:45:01', 25.88, 'Boston University', 0.53, 1033.66, None, 0.58, 2.73),
 ('2018-12-13 14:45:02', 23.63, 'Boston University', 0.34, 1034.01, None, 0.61, 2.97),
 ('2018-12-13 13:45:02', 21.36, 'Boston University', 0.2, 1033.72, None, 0.6, 2.85),
 ('2018-12-13 12:45:02', 20.4, 'Boston University', 0.28, 1032.54, None, 0.62, 2.96)]

Get weather data at the destination

In [90]:
%%sql

select datetime(time_stamp, 'unixepoch') date, temp,	location,	clouds,	pressure,	rain,	humidity,	wind
from weather
where location = (select destination from cab_rides where price = (select max(price) from cab_rides)) 
and datetime(time_stamp, 'unixepoch') <= (select datetime(time_stamp/1000, 'unixepoch') date from cab_rides where price = (select max(price) from cab_rides))
order by date desc limit 10

 * sqlite://
Done.

[('2018-11-26 22:05:09', 44.8, 'Fenway', 0.98, 1008.38, 0.013, 0.87, 7.36),
 ('2018-11-26 21:35:08', 44.32, 'Fenway', 0.91, 1008.99, 0.003, 0.87, 9.36),
 ('2018-11-26 21:05:10', 44.67, 'Fenway', 1.0, 1009.1, None, 0.85, 9.12),
 ('2018-11-26 20:35:08', 44.87, 'Fenway', 0.88, 1009.85, None, 0.84, 9.29),
 ('2018-11-26 20:05:09', 45.03, 'Fenway', 0.98, 1010.02, None, 0.84, 8.06),
 ('2018-11-26 19:35:09', 45.8, 'Fenway', 0.92, 1010.86, None, 0.83, 8.67),
 ('2018-11-26 19:05:08', 45.81, 'Fenway', 0.97, 1010.97, None, 0.84, 8.09),
 ('2018-11-26 18:35:08', 45.45, 'Fenway', 1.0, 1011.84, None, 0.87, 6.19),
 ('2018-11-26 18:05:08', 45.12, 'Fenway', 0.97, 1012.37, None, 0.88, 4.58),
 ('2018-11-26 17:35:10', 45.64, 'Fenway', 1.0, 1012.46, None, 0.85, 6.44)]

**Observations**
1.  Around the time when the price was the highest, there was light rainfall at the destination
2. The price doubled.

#### What was the weather at both the source and destination when the price was the lowest?

Get a glimpse of rides data when price was minimum

In [19]:
%%sql
select min(price) as price, surge_multiplier, datetime(time_stamp/1000, 'unixepoch') date, source, destination, name
from cab_rides;

 * sqlite://
Done.

[(2.5, 1.0, '2018-12-13 16:53:20', 'Boston University', 'Back Bay', 'Shared')]

Get weather data at the source

In [23]:
%%sql

select datetime(time_stamp, 'unixepoch') date, temp,	location,	clouds,	pressure,	rain,	humidity,	wind
from weather
where location = (select source from cab_rides where price = (select min(price) from cab_rides)) 
and datetime(time_stamp, 'unixepoch') <= (select datetime(time_stamp/1000, 'unixepoch') date from cab_rides where price = (select min(price) from cab_rides))
order by date desc limit 10

 * sqlite://
Done.

[('2018-12-13 16:45:02', 28.46, 'Boston University', 0.24, 1033.35, None, 0.56, 1.98),
 ('2018-12-13 15:45:01', 25.88, 'Boston University', 0.53, 1033.66, None, 0.58, 2.73),
 ('2018-12-13 14:45:02', 23.63, 'Boston University', 0.34, 1034.01, None, 0.61, 2.97),
 ('2018-12-13 13:45:02', 21.36, 'Boston University', 0.2, 1033.72, None, 0.6, 2.85),
 ('2018-12-13 12:45:02', 20.4, 'Boston University', 0.28, 1032.54, None, 0.62, 2.96),
 ('2018-12-13 11:45:01', 20.13, 'Boston University', 0.45, 1031.72, None, 0.62, 2.73),
 ('2018-12-13 10:45:01', 19.73, 'Boston University', 0.43, 1031.08, None, 0.63, 3.65),
 ('2018-12-13 09:45:01', 19.62, 'Boston University', 0.39, 1030.72, None, 0.64, 3.7),
 ('2018-12-13 08:45:01', 19.78, 'Boston University', 0.61, 1030.21, None, 0.61, 3.56),
 ('2018-12-13 07:45:01', 20.24, 'Boston University', 0.5, 1029.46, None, 0.59, 3.45)]

Get weather data at the destination

In [24]:
%%sql

select datetime(time_stamp, 'unixepoch') date, temp,	location,	clouds,	pressure,	rain,	humidity,	wind
from weather
where location = (select destination from cab_rides where price = (select min(price) from cab_rides)) 
and datetime(time_stamp, 'unixepoch') <= (select datetime(time_stamp/1000, 'unixepoch') date from cab_rides where price = (select min(price) from cab_rides))
order by date desc limit 10

 * sqlite://
Done.

[('2018-12-13 16:45:02', 28.62, 'Back Bay', 0.25, 1033.35, None, 0.56, 2.07),
 ('2018-12-13 15:45:01', 26.16, 'Back Bay', 0.53, 1033.65, None, 0.58, 2.78),
 ('2018-12-13 14:45:01', 23.83, 'Back Bay', 0.33, 1034.01, None, 0.61, 3.0),
 ('2018-12-13 13:45:01', 21.41, 'Back Bay', 0.2, 1033.72, None, 0.6, 2.88),
 ('2018-12-13 12:45:01', 20.51, 'Back Bay', 0.28, 1032.53, None, 0.62, 3.04),
 ('2018-12-13 11:45:01', 20.26, 'Back Bay', 0.45, 1031.72, None, 0.63, 2.79),
 ('2018-12-13 10:45:01', 19.97, 'Back Bay', 0.43, 1031.07, None, 0.63, 3.74),
 ('2018-12-13 09:45:01', 19.92, 'Back Bay', 0.39, 1030.71, None, 0.64, 3.81),
 ('2018-12-13 08:45:01', 20.05, 'Back Bay', 0.62, 1030.2, None, 0.61, 3.65),
 ('2018-12-13 07:45:01', 20.49, 'Back Bay', 0.51, 1029.45, None, 0.59, 3.54)]

**Observations**
1. Around the time when the price was the lowest, there was no rain at both the source and the destination

#### What was the weather like when the surge multiplier was the highest?

Get a glimpse of rides data when surge multiplier was maximum

In [26]:
%%sql
select max(surge_multiplier) as surge_multiplier, price, datetime(time_stamp/1000, 'unixepoch') date, source, destination, name
from cab_rides;

 * sqlite://
Done.

[(2.0, 42.5, '2018-12-02 05:53:20', 'South Station', 'Back Bay', 'Lyft XL')]

Get weather data at the source

In [33]:
%%sql

select datetime(time_stamp, 'unixepoch') date, temp,	location,	clouds,	pressure,	rain,	humidity,	wind
from weather
where location = (select source from cab_rides where surge_multiplier = (select max(surge_multiplier) from cab_rides))
and datetime(time_stamp, 'unixepoch') <= (select datetime(time_stamp/1000, 'unixepoch') date from cab_rides where surge_multiplier = (select max(surge_multiplier) from cab_rides))
order by date desc limit 10

 * sqlite://
Done.

[('2018-12-02 05:52:54', 37.09, 'South Station', 0.82, 1021.65, None, 0.85, 1.63),
 ('2018-12-02 04:52:54', 36.7, 'South Station', 0.9, 1022.66, None, 0.84, 1.03),
 ('2018-12-02 03:52:55', 36.84, 'South Station', 0.38, 1022.89, None, 0.81, 0.3),
 ('2018-12-02 02:52:54', 36.05, 'South Station', 0.53, 1023.46, None, 0.82, 1.63),
 ('2018-12-02 01:52:54', 35.84, 'South Station', 0.2, 1023.75, None, 0.81, 1.39),
 ('2018-12-02 00:52:54', 35.72, 'South Station', 0.2, 1024.2, None, 0.78, 1.9),
 ('2018-12-01 23:52:55', 35.53, 'South Station', 0.4, 1023.64, None, 0.8, 2.52),
 ('2018-12-01 22:52:56', 38.55, 'South Station', 0.54, 1023.52, None, 0.7, 2.34),
 ('2018-12-01 21:52:54', 40.36, 'South Station', 0.57, 1023.46, None, 0.64, 2.67),
 ('2018-12-01 20:52:54', 41.35, 'South Station', 0.65, 1023.18, None, 0.62, 1.79)]

Get weather data at the destination

In [34]:
%%sql

select datetime(time_stamp, 'unixepoch') date, temp,	location,	clouds,	pressure,	rain,	humidity,	wind
from weather
where location = (select destination from cab_rides where surge_multiplier = (select max(surge_multiplier) from cab_rides))
and datetime(time_stamp, 'unixepoch') <= (select datetime(time_stamp/1000, 'unixepoch') date from cab_rides where surge_multiplier = (select max(surge_multiplier) from cab_rides))
order by date desc limit 10

 * sqlite://
Done.

[('2018-12-02 05:52:54', 37.03, 'Back Bay', 0.83, 1021.65, None, 0.84, 1.56),
 ('2018-12-02 04:52:54', 36.65, 'Back Bay', 0.91, 1022.66, None, 0.84, 1.07),
 ('2018-12-02 03:52:54', 36.75, 'Back Bay', 0.36, 1022.88, None, 0.81, 0.3),
 ('2018-12-02 02:52:54', 35.99, 'Back Bay', 0.54, 1023.47, None, 0.81, 1.48),
 ('2018-12-02 01:52:54', 35.79, 'Back Bay', 0.19, 1023.76, None, 0.81, 1.36),
 ('2018-12-02 00:52:54', 35.67, 'Back Bay', 0.2, 1024.2, None, 0.78, 1.85),
 ('2018-12-01 23:52:54', 36.78, 'Back Bay', 0.42, 1023.64, None, 0.76, 2.47),
 ('2018-12-01 22:52:54', 37.99, 'Back Bay', 0.54, 1023.52, None, 0.71, 2.37),
 ('2018-12-01 21:52:54', 39.89, 'Back Bay', 0.57, 1023.45, None, 0.65, 2.66),
 ('2018-12-01 20:52:54', 41.01, 'Back Bay', 0.65, 1023.18, None, 0.63, 1.79)]

**Observations**
1. There were no noticeable weather conditions when the surge multiplier was at its highest
2. The surge multiplier was at it's highest at 5 AM

#### What was the weather like when the surge multiplier was the lowest?

Get a glimpse of rides data when surge multiplier was minimum

In [35]:
%%sql
select min(surge_multiplier) as surge_multiplier, price, datetime(time_stamp/1000, 'unixepoch') date, source, destination, name
from cab_rides;

 * sqlite://
Done.

[(1.0, 5.0, '2018-12-16 08:46:40', 'Haymarket Square', 'North Station', 'Shared')]

Get weather data at the source

In [36]:
%%sql

select datetime(time_stamp, 'unixepoch') date, temp,	location,	clouds,	pressure,	rain,	humidity,	wind
from weather
where location = (select source from cab_rides where surge_multiplier = (select min(surge_multiplier) from cab_rides))
and datetime(time_stamp, 'unixepoch') <= (select datetime(time_stamp/1000, 'unixepoch') date from cab_rides where surge_multiplier = (select min(surge_multiplier) from cab_rides))
order by date desc limit 10

 * sqlite://
Done.

[('2018-12-16 08:45:01', 39.36, 'Haymarket Square', 0.39, 1022.44, None, 0.74, 8.14),
 ('2018-12-16 07:45:01', 39.38, 'Haymarket Square', 0.44, 1022.81, None, 0.74, 7.24),
 ('2018-12-16 06:45:01', 39.25, 'Haymarket Square', 0.42, 1023.44, None, 0.73, 7.3),
 ('2018-12-16 05:45:01', 40.15, 'Haymarket Square', 0.41, 1023.5, None, 0.7, 7.82),
 ('2018-12-16 04:45:01', 39.57, 'Haymarket Square', 0.44, 1023.97, None, 0.71, 7.27),
 ('2018-12-16 03:45:01', 40.62, 'Haymarket Square', 0.55, 1024.65, None, 0.71, 6.61),
 ('2018-12-16 02:45:01', 40.99, 'Haymarket Square', 0.4, 1024.49, None, 0.71, 6.38),
 ('2018-12-16 01:45:01', 41.68, 'Haymarket Square', 0.44, 1023.68, None, 0.71, 6.28),
 ('2018-12-16 00:45:01', 42.75, 'Haymarket Square', 0.17, 1023.04, None, 0.71, 6.45),
 ('2018-12-15 23:45:01', 44.1, 'Haymarket Square', 0.34, 1022.05, None, 0.7, 7.98)]

Get weather data at the destination

In [38]:
%%sql

select datetime(time_stamp, 'unixepoch') date, temp,	location,	clouds,	pressure,	rain,	humidity,	wind
from weather
where location = (select destination from cab_rides where surge_multiplier = (select min(surge_multiplier) from cab_rides))
and datetime(time_stamp, 'unixepoch') <= (select datetime(time_stamp/1000, 'unixepoch') date from cab_rides where surge_multiplier = (select min(surge_multiplier) from cab_rides))
order by date desc limit 10

 * sqlite://
Done.

[('2018-12-16 08:45:01', 39.25, 'North Station', 0.39, 1022.44, None, 0.74, 8.09),
 ('2018-12-16 07:45:01', 39.3, 'North Station', 0.44, 1022.81, None, 0.74, 7.2),
 ('2018-12-16 06:45:01', 39.17, 'North Station', 0.42, 1023.44, None, 0.73, 7.23),
 ('2018-12-16 05:45:01', 40.08, 'North Station', 0.41, 1023.5, None, 0.7, 7.77),
 ('2018-12-16 04:45:02', 39.49, 'North Station', 0.45, 1023.97, None, 0.71, 7.21),
 ('2018-12-16 03:45:01', 40.54, 'North Station', 0.55, 1024.65, None, 0.71, 6.56),
 ('2018-12-16 02:45:01', 40.9, 'North Station', 0.4, 1024.5, None, 0.71, 6.35),
 ('2018-12-16 01:45:01', 41.63, 'North Station', 0.44, 1023.68, None, 0.72, 6.24),
 ('2018-12-16 00:45:01', 42.7, 'North Station', 0.17, 1023.05, None, 0.71, 6.4),
 ('2018-12-15 23:45:01', 44.0, 'North Station', 0.34, 1022.05, None, 0.7, 7.92)]

**Observations**
1. There were no noticeable weather conditions when the surge multiplier was at its lowest
2. The surge multiplier was at it's lowest at 8 AM

### 2) Does the time of day drive demand for rides?

Query the numer of rides recorded at hourly intervals

In [47]:
for i in range(24):
    if i < 10:
      start_time = '0' + str(i) + ':00:00'
      end_time = '0' + str(i) + ':59:59'
    else:
      start_time = str(i) + ':00:00'
      end_time = str(i) + ':59:59'

    num_rides =  %sql select count(*) as total_rides from cab_rides where strftime('%H:%M:%S', datetime(time_stamp/1000, 'unixepoch')) >= '{start_time}' and strftime('%H:%M:%S', datetime(time_stamp/1000, 'unixepoch')) <= '{end_time}'

    print('Total rides between ' + start_time + ' and ' + end_time)
    print(num_rides)

 * sqlite://
Done.
Total rides between 00:00:00 and 00:59:59
+-------------+
| total_rides |
+-------------+
|     3305    |
+-------------+
 * sqlite://
Done.
Total rides between 01:00:00 and 01:59:59
+-------------+
| total_rides |
+-------------+
|     2004    |
+-------------+
 * sqlite://
Done.
Total rides between 02:00:00 and 02:59:59
+-------------+
| total_rides |
+-------------+
|     3026    |
+-------------+
 * sqlite://
Done.
Total rides between 03:00:00 and 03:59:59
+-------------+
| total_rides |
+-------------+
|     2410    |
+-------------+
 * sqlite://
Done.
Total rides between 04:00:00 and 04:59:59
+-------------+
| total_rides |
+-------------+
|     1716    |
+-------------+
 * sqlite://
Done.
Total rides between 05:00:00 and 05:59:59
+-------------+
| total_rides |
+-------------+
|     2779    |
+-------------+
 * sqlite://
Done.
Total rides between 06:00:00 and 06:59:59
+-------------+
| total_rides |
+-------------+
|     2672    |
+-------------+
 * sqlite://
Done.
Total rides between 07:00:00 and 07:59:59
+-------------+
| total_rides |
+-------------+
|     1533    |
+-------------+
 * sqlite://
Done.
Total rides between 08:00:00 and 08:59:59
+-------------+
| total_rides |
+-------------+
|     2301    |
+-------------+
 * sqlite://
Done.
Total rides between 09:00:00 and 09:59:59
+-------------+
| total_rides |
+-------------+
|     2584    |
+-------------+
 * sqlite://
Done.
Total rides between 10:00:00 and 10:59:59
+-------------+
| total_rides |
+-------------+
|     2171    |
+-------------+
 * sqlite://
Done.
Total rides between 11:00:00 and 11:59:59
+-------------+
| total_rides |
+-------------+
|     2065    |
+-------------+
 * sqlite://
Done.
Total rides between 12:00:00 and 12:59:59
+-------------+
| total_rides |
+-------------+
|     2481    |
+-------------+
 * sqlite://
Done.
Total rides between 13:00:00 and 13:59:59
+-------------+
| total_rides |
+-------------+
|     2651    |
+-------------+
 * sqlite://
Done.
Total rides between 14:00:00 and 14:59:59
+-------------+
| total_rides |
+-------------+
|     2432    |
+-------------+
 * sqlite://
Done.
Total rides between 15:00:00 and 15:59:59
+-------------+
| total_rides |
+-------------+
|     2993    |
+-------------+
 * sqlite://
Done.
Total rides between 16:00:00 and 16:59:59
+-------------+
| total_rides |
+-------------+
|     2885    |
+-------------+
 * sqlite://
Done.
Total rides between 17:00:00 and 17:59:59
+-------------+
| total_rides |
+-------------+
|     2472    |
+-------------+
 * sqlite://
Done.
Total rides between 18:00:00 and 18:59:59
+-------------+
| total_rides |
+-------------+
|     2909    |
+-------------+
 * sqlite://
Done.
Total rides between 19:00:00 and 19:59:59
+-------------+
| total_rides |
+-------------+
|     2241    |
+-------------+
 * sqlite://
Done.
Total rides between 20:00:00 and 20:59:59
+-------------+
| total_rides |
+-------------+
|     2410    |
+-------------+
 * sqlite://
Done.
Total rides between 21:00:00 and 21:59:59
+-------------+
| total_rides |
+-------------+
|     1595    |
+-------------+
 * sqlite://
Done.
Total rides between 22:00:00 and 22:59:59
+-------------+
| total_rides |
+-------------+
|     2336    |
+-------------+
 * sqlite://
Done.
Total rides between 23:00:00 and 23:59:59
+-------------+
| total_rides |
+-------------+
|     2458    |
+-------------+

**Observations**
1. Number of rides recorded were highest between midnight and 1 AM.
2. The number appears to decline slightly and goes back up from 5 AM to 7 AM.
3. The least rides were recorderd between 7 AM and 8 AM.
4. There's a noticeable spike from 3 PM and 5 PM.
5. The number drops between 5 and 6 PM but goes back up from 6 PM.

### 3) Does the day of the week drive demand for rides?

In [57]:
%%sql
select strftime('%w', datetime(time_stamp/1000, 'unixepoch')) day_of_week, count(*) as number_of_rides
from cab_rides group by day_of_week

 * sqlite://
Done.

[('0', 7836),
 ('1', 10839),
 ('2', 10912),
 ('3', 5178),
 ('4', 8915),
 ('5', 7952),
 ('6', 6797)]

Observations
1. Monday and Tuesday had the highest number of rides.

## Summary of findings

1. When the price was the highest, there was light rainfall at the destination. Perhaps the rain caused the  price to double.

2. When the price was the lowest, there was no rain at both the source and the destination. Perhaps that's why the price didn't go up.

3. There were no noticeable weather conditions when the surge multiplier was at its highest. However, the surge multiplier was at it's highest at 5 AM, perhaps influenced by the time of the day.

4. There were no noticeable weather conditions when the surge multiplier was at its lowest. The surge multiplier was at it's lowest at 8 AM.

5. The total number of rides recorded were highest between midnight and 1 AM. The number appears to decline slightly after 1 AM and goes back up from 5 AM to 7 AM.

6. The least rides were recorderd between 7 AM and 8 AM.

7. There's a noticeable spike up from 3 PM and 5 PM. The number drops between 5 and 6 PM but goes back up from 6 PM.

8. Monday and Tuesday had the highest number of rides. Perhaps that's because these two days of the week are typically busy