<a href="https://colab.research.google.com/github/Oughty-Otieno/Data-Analysis-with-SQL/blob/main/Data_analysis_with_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem Statement

Over the past few years, ride-sharing apps have been on the rise across many cities in
the world. While this has happened, Uber and Lyft's ride prices are not constant like
public transport. They are greatly affected by the demand and supply of rides at a given
time.

As a Data Scientist working to understand this market, you have been tasked to come up
with a descriptive analysis report to help a Ride-Sharing Startup coming into this space,
understand the various patterns on how pricing works for the existing ride-sharing
company.

Luckily, you were able to access some real-time data from Uber & Lyft's API and weather
data from Weather API conditions.

You build a custom application in Scala to query data at regular intervals and saved it to
DynamoDB. The queried cab ride estimates are done after every 5 mins and weather
data after every 1 hr.

The cab ride data covers various types of cabs for Uber & Lyft and their price for the
given location. Weather data contains weather attributes like temperature, rain, cloud,
etc for all the locations taken into consideration.

Now that you have your data in the given dataset, write SQL queries to perform
descriptive analysis highlighting key insights that would be helpful in helping the startup
develop a new product.

# Data loading

In [ ]:
# We will first load an sql extension. 
# Notebook extensions are simple add-ons that extend the basic 
# functionality of the notebook environment. 
# This extension will allow us to run SQL code in our Notebook.
# ---
#
%load_ext sql

In [ ]:
# We will then connect to an in memory SQLite database within colaboratory. 
# Something to note is that this in memory dataset will be deleted as 
# soon the dataset connection is lost, meaning when our connection to 
# the servers is disconnected then our database will cease to exist.
# ---
#  
%sql sqlite://

'Connected: @None'

In [ ]:
# We will now need the pandas library to read our csv file 
# from an external the source. 
# ---
#
import pandas as pd

In [ ]:
# Example 1
# ---
# We load our first dataset from a csv file as shown then  
# after store the dataset in our in memory sqlite database.
# We read our dataset from its source and store it in a dataframe 
# called cabs. 
# ---
#
cabs = pd.read_csv('/content/weather.txt', delimiter = "\t", header= 0, encoding='cp1252')

# Then store it in an SQL table of our in memory sqlite database 
# --- 
# 

# We then delete the table if it exists in our database
# ---
#
%sql DROP TABLE IF EXISTS cabs;

# And finally store our table in the table name cabs within our dataset.
# The persist command will create a table in the database to which we are connected, 
# the table name will be the same as dataframe variable.
# ---
#
%sql PERSIST cabs;

# Preview the first 5 records of the cabs dataset 
# ---
#
%sql SELECT * FROM cabs LIMIT 5;

ParserError: ignored

In [ ]:
cabs.head()

   ÿþt
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN